# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*~
_autosave-*
*.tmp
*-cache.lib
*-rescue.lib
*-save.pro
*-save.kicad_pcb

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

*.bak
*.sch-bak
*.kicad_pcb-bak
*.bck
*.net
*.bin
*.jpg
*.jpeg
*.png
*.svg
*.bmp
*.tiff
*.tmp
*.log
*.~
*.zip
*.rar
*.bz2
*.gz
*.z7
*.xz
*.arj
*.pdf
.directory
